.radio-label-vertical-wrapper {
  padding-bottom: 13px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.radio-label-vertical-wrapper:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 30px;
  /*background: #efefef;*/
  position: absolute;
  bottom: 0;
}

.radio-label-vertical-wrapper label:not(.radio-label-vertical) {
  display: block;
  width: 100%;
}

.radio-label-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 14px;
  text-align: center;
}

.radio-label-vertical input {
  position: absolute;
  top: 28px;
  left: 50%;
  margin-left: -6px;
  display: block;
  cursor: pointer;
}